In [5]:
import pandas as pd
import numpy as np
import requests
import time

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
API_KEY = "eyJvcmciOiI1YjNjZTM1OTc4NTExMTAwMDFjZjYyNDgiLCJpZCI6ImZlNTY2YWRlYzI5YjQ2ZjE5MTFkM2RkMjlhYWQ0ZDk0IiwiaCI6Im11cm11cjY0In0="
INPUT_FILE = "/content/drive/MyDrive/Edulift/eVED_171101_week_clean.csv"
OUTPUT_FILE = "/content/drive/MyDrive/Edulift/eVED_171101_week_matched.csv"

In [3]:
BATCH_SIZE = 4000
RADIUS = 200

In [6]:
def snap_batch(coords):
    url = "https://api.openrouteservice.org/v2/snap/driving-car"
    headers = {"Authorization": API_KEY, "Content-Type": "application/json"}
    body = {"locations": coords, "radius": RADIUS}
    r = requests.post(url, json=body, headers=headers)
    r.raise_for_status()
    return r.json()

In [7]:
df = pd.read_csv(INPUT_FILE)
coords = df[["lon", "lat"]].values.tolist()

results = []
for i in range(0, len(coords), BATCH_SIZE):
    batch = coords[i:i+BATCH_SIZE]
    print(f"➡️ Processing batch {i}–{i+len(batch)-1}")

    try:
        snapped = snap_batch(batch)
        for j, item in enumerate(snapped.get("locations", [])):
            if item:
                lon, lat = item["location"]
                road = item.get("name")
                results.append([df.iloc[i+j]["VehId"], df.iloc[i+j]["Trip"],
                                df.iloc[i+j]["timestamp"], df.iloc[i+j]["lat"], df.iloc[i+j]["lon"],
                                lat, lon, road])
            else:
                results.append([df.iloc[i+j]["VehId"], df.iloc[i+j]["Trip"],
                                df.iloc[i+j]["timestamp"], df.iloc[i+j]["lat"], df.iloc[i+j]["lon"],
                                None, None, None])
    except Exception as e:
        print(f"⚠️ Error on batch {i}: {e}")
        time.sleep(5)

matched_df = pd.DataFrame(results, columns=[
    "VehId", "Trip", "timestamp", "lat", "lon",
    "matched_lat", "matched_lon", "road_name"
])
matched_df.to_csv(OUTPUT_FILE, index=False)
print(f"✅ Map-matching complete. Saved to {OUTPUT_FILE}")

➡️ Processing batch 0–3999
➡️ Processing batch 4000–7999
➡️ Processing batch 8000–11999
➡️ Processing batch 12000–15999
➡️ Processing batch 16000–19999
➡️ Processing batch 20000–23999
➡️ Processing batch 24000–27999
➡️ Processing batch 28000–31999
➡️ Processing batch 32000–35999
➡️ Processing batch 36000–39999
➡️ Processing batch 40000–43999
➡️ Processing batch 44000–47999
➡️ Processing batch 48000–51999
➡️ Processing batch 52000–55999
➡️ Processing batch 56000–59999
➡️ Processing batch 60000–63999
➡️ Processing batch 64000–67999
➡️ Processing batch 68000–71999
➡️ Processing batch 72000–75999
➡️ Processing batch 76000–79999
➡️ Processing batch 80000–83999
➡️ Processing batch 84000–87999
➡️ Processing batch 88000–91999
➡️ Processing batch 92000–95999
➡️ Processing batch 96000–99999
➡️ Processing batch 100000–103999
➡️ Processing batch 104000–107999
➡️ Processing batch 108000–111999
➡️ Processing batch 112000–115999
➡️ Processing batch 116000–119999
➡️ Processing batch 120000–123999
➡️ Processing batch 124000–127999
➡️ Processing batch 128000–131999
➡️ Processing batch 132000–135999
➡️ Processing batch 136000–139999
➡️ Processing batch 140000–143999
➡️ Processing batch 144000–147999
➡️ Processing batch 148000–151999
➡️ Processing batch 152000–155999
➡️ Processing batch 156000–159999
➡️ Processing batch 160000–163999
➡️ Processing batch 164000–167999
➡️ Processing batch 168000–171999
➡️ Processing batch 172000–175999
➡️ Processing batch 176000–179999
➡️ Processing batch 180000–183999
➡️ Processing batch 184000–187999
➡️ Processing batch 188000–191999
➡️ Processing batch 192000–195999
➡️ Processing batch 196000–199999
➡️ Processing batch 200000–203999
➡️ Processing batch 204000–207999
➡️ Processing batch 208000–211999
➡️ Processing batch 212000–215999
➡️ Processing batch 216000–219999
➡️ Processing batch 220000–223999
➡️ Processing batch 224000–227999
➡️ Processing batch 228000–231999
➡️ Processing batch 232000–235999
➡️ Processing batch 236000–239999
➡️ Processing batch 240000–243999
➡️ Processing batch 244000–247999
➡️ Processing batch 248000–251999
➡️ Processing batch 252000–255999
➡️ Processing batch 256000–259999
➡️ Processing batch 260000–263999
➡️ Processing batch 264000–267999
➡️ Processing batch 268000–271999
➡️ Processing batch 272000–275999
➡️ Processing batch 276000–279999
➡️ Processing batch 280000–283999
➡️ Processing batch 284000–287999
➡️ Processing batch 288000–291999
➡️ Processing batch 292000–295999
➡️ Processing batch 296000–299999
➡️ Processing batch 300000–303999
➡️ Processing batch 304000–307999
➡️ Processing batch 308000–311999
➡️ Processing batch 312000–315999
➡️ Processing batch 316000–319999
➡️ Processing batch 320000–323999
➡️ Processing batch 324000–327999
➡️ Processing batch 328000–331999
➡️ Processing batch 332000–335999
➡️ Processing batch 336000–339999
➡️ Processing batch 340000–343999
➡️ Processing batch 344000–347999
➡️ Processing batch 348000–351999
➡️ Processing batch 352000–355999
➡️ Processing batch 356000–359999
➡️ Processing batch 360000–363999
➡️ Processing batch 364000–367999
➡️ Processing batch 368000–371999
➡️ Processing batch 372000–375999
➡️ Processing batch 376000–379999
➡️ Processing batch 380000–383999
➡️ Processing batch 384000–387999
➡️ Processing batch 388000–391999
➡️ Processing batch 392000–395999
➡️ Processing batch 396000–399999
➡️ Processing batch 400000–403999
➡️ Processing batch 404000–407999
➡️ Processing batch 408000–411999
➡️ Processing batch 412000–415999
➡️ Processing batch 416000–419999
➡️ Processing batch 420000–423999
➡️ Processing batch 424000–427999
➡️ Processing batch 428000–431999
➡️ Processing batch 432000–435999
➡️ Processing batch 436000–439999
➡️ Processing batch 440000–443999
➡️ Processing batch 444000–447999
➡️ Processing batch 448000–451999
➡️ Processing batch 452000–455999
➡️ Processing batch 456000–459999
➡️ Processing batch 460000–463999
➡️ Processing batch 464000–467999
➡️ Processing batch 468000–471999
➡️ Processing batch 472000–475999
➡️ Processing batch 476000–479999
➡️ Processing batch 480000–483999
➡️ Processing batch 484000–487999
➡️ Processing batch 488000–491999
➡️ Processing batch 492000–495999
➡️ Processing batch 496000–499999
➡️ Processing batch 500000–503999
➡️ Processing batch 504000–507999
➡️ Processing batch 508000–511999
➡️ Processing batch 512000–515999
➡️ Processing batch 516000–519999
➡️ Processing batch 520000–523999
➡️ Processing batch 524000–527999
➡️ Processing batch 528000–531999
➡️ Processing batch 532000–534558
✅ Map-matching complete. Saved to /content/drive/MyDrive/Edulift/eVED_171101_week_matched.csv

In [6]:
df_matched = pd.read_csv(OUTPUT_FILE)
df_matched.head()

,VehId,Trip,timestamp,lat,lon,matched_lat,matched_lon,road_name
0,8.0,730.0,1970-01-01 00:00:00.000,42.266570,-83.707059,42.266567,-83.70711,Arlington Boulevard
1,8.0,730.0,1970-01-01 00:00:00.600,42.266570,-83.707059,42.266567,-83.70711,Arlington Boulevard
2,8.0,730.0,1970-01-01 00:00:02.100,42.266570,-83.707059,42.266567,-83.70711,Arlington Boulevard
3,8.0,730.0,1970-01-01 00:00:02.800,42.266959,-83.706973,42.266960,-83.70714,Arlington Boulevard
4,8.0,730.0,1970-01-01 00:00:03.200,42.266959,-83.706973,42.266960,-83.70714,Arlington Boulevard

In [7]:
df_matched.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 534559 entries, 0 to 534558
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   VehId        534559 non-null  float64
 1   Trip         534559 non-null  float64
 2   timestamp    534559 non-null  object
 3   lat          534559 non-null  float64
 4   lon          534559 non-null  float64
 5   matched_lat  534550 non-null  float64
 6   matched_lon  534550 non-null  float64
 7   road_name    458535 non-null  object
dtypes: float64(6), object(2)
memory usage: 32.6+ MB

In [8]:
df_matched['road_name'].isnull().sum()

np.int64(76024)